.popUp {
  width: 100%;
  height: 100dvh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(3px);
  visibility: hidden;
  opacity: 0;
  z-index: 2;
  transition: 0.5s;

  &.active {
    visibility: visible;
    opacity: 1;
  }

  .form {
    max-width: 445px;
    width: 100%;
    border-radius: 30px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    background: #fff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .title {
      font-weight: 600;
      font-size: 17px;
      color: #000;
      margin-bottom: 10px;
    }

    .inp {
      border-radius: 15px;
      background: #d6d6d6;
      width: 100%;
      font-weight: 500;
      font-size: 15px;
      color: #8e8e8e;
      border: none;
      padding: 14px;

      &:focus {
        outline: 2px solid #8e8e8e;
      }
    }

    .btn {
      margin-top: 18px;
      border-radius: 10px;
      box-shadow: 0 0 20px 0 rgba(67, 216, 84, 0.25);
      background: #101010;
      padding: 13px;
      font-weight: 500;
      font-size: 15px;
      text-align: center;
      color: #fff;
      transition: 0.5s;
      cursor: pointer;

      &:hover {
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
        background: #fff;
        color: #101010;
      }
    }
  }
}
