.sliding {
  cursor: pointer;
  z-index: 1;
  position: fixed;
  bottom: 50px;
  right: 50px;
  border-radius: 50%;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.05) 100%
  );
  width: 74px;
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
}
