.error {
  border-radius: 30px;
  max-width: 730px;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  background: linear-gradient(
    136deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  .title {
    font-weight: 600;
    text-align: center;
    color: #1c1c27;
    font-size: clamp(1.063rem, -0.382rem + 7.22vw, 1.875rem);
    padding: 33px;
  }
}
